body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100%;
    height: max-content;
    background:url(81837994-dramatic-sky-with-dynamic-cloud-arrangement-cloudy-weather-background.webp);
    background-size: cover;
    color: #f0d43a;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:130vh;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.nflex{
    display: flex;
    flex-direction: row;
}
.holder feel{
    width: 5vw;
    height: 5vw;
    margin-top: 0;
}
#generate{
    width: 4em;
    height: 2em;
    cursor:pointer;
}
.entry{
    background: rgba(59, 74, 107, .4);
    
}

#entryHolder{
    font-size: 25px;
}

#date{
    font-size: 20px;
}

#temp{
  font-size: 25px;
}

#content{
    font-size: 25px;
}

.headline {
    font-size: 45px;
}
.title{
 width: 100%;
 height: max-content;
}
.myInput{
    width: 20em;
    height: 8em;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    resize: none;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
@media screen and (max-width:760px){
    .nflex{
        display: flex;
        flex-direction: column;
    }

    
}

@media screen and (max-width:600px){
    .nflex{
        display: flex;
        flex-direction: column;
    }
    .entry{
        background: rgba(59, 74, 107, .4);
        margin-top: 12vw;
    }
    
}